<!-- DASHBOARD -->
<app-courses-dashboard
  *ngIf="!vistaClase && !vistaResenas"
  [isAdmin]="isAdmin"
  (openClass)="onOpenClass($event)"
  (openReviews)="onOpenReviews($event)">
</app-courses-dashboard>

<!-- CLASE -->
<app-classroom
  *ngIf="vistaClase && cursoEnClase"
  [curso]="cursoEnClase"
  (close)="onCloseClass()"
  (openReviews)="onOpenReviews($event)">
</app-classroom>

<!-- RESEÑAS (placeholder) -->
<app-reviews-screen
  *ngIf="vistaResenas && cursoSeleccionado"
  [curso]="cursoSeleccionado"
  (close)="onCloseReviews()">
</app-reviews-screen>
